<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 d-flex justify-content-center mb-5">

    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Mountains</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Sea</button>
    

 </div>
 
 
 <div class="gallery" id="gallery">
   {% for photo in site.gallery %}
	<p>{{photo.image_link}}</p>
    {%- assign photo_link  = photo.image_link -%}
    {%- assign photo_desc  = photo.description -%}

    {% include gallery/photo_item.html %}

  {% endfor %}
  
  </div>
