<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 d-flex justify-content-center mb-5">

    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Mountains</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Sea</button>
    

 </div>
 
 <script>
 
 $(function() {
  var selectedClass = "";
  $(".filter").click(function(){
    selectedClass = $(this).attr("data-rel");
    $("#gallery").fadeTo(100, 0.1);
    $("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');
    setTimeout(function() {
      $("."+selectedClass).fadeIn().addClass('animation');
      $("#gallery").fadeTo(300, 1);
    }, 300);
  });
});

</script>
 
 <div class="gallery" id="gallery">
   {% for photo_unit in site.gallery %}
   
    {%- assign photo_link_horizontal = photo_unit.photo_link_horizontal -%}
    {%- assign photo_link_vertical = photo_unit.photo_link_vertical -%}
    {%- assign photo_desc = photo.description -%}

    {% include gallery/photo_item.html %}

  {% endfor %}
  
  </div>
  
  
  
  
