<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 d-flex justify-content-center mb-5">

    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Mountains</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Sea</button>
    

 </div>
 
 
   {% for photo in site.gallery %}

    {%- assign photo_link  = photo.link -%}
    {%- assign photo_desc  = photo.description -%}

    {% include projects/photo_item.html %}

  {% endfor %}
