
<div class="card-columns m-3 mt-5">

  {% for photo in site.gallery %}

    {%- assign photo_type  = "local" -%}
    {%- assign photo_id    = photo.name | slugify -%}
    {%- assign photo_img   = photo.image -%}
    {%- assign photo_name  = photo.name -%}
    {%- assign photo_desc  = photo.description -%}
    {%- assign photo_tags = photo.tags -%}

    {%- if photo.external_url -%}
      {%- assign photo_url = photo.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign photo_url = photo.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include gallery/photo-card.html %}

  {% endfor %}

</div>
