<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ photo_url }}" class="project card text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
    {%- if photo_img -%}
    <img id="{{ photo_id }}-img" class="card-img-top" src="{{ photo_img }}" alt="{{ photo_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ photo_id }}-name" class="card-title">
          {%- if photo_type == "remote" -%}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title=""></i> |&nbsp;
          {%- endif -%}
        {{ photo_name }}
      </h5>
      <p id="{{ photo_id }}-desc" class="card-text">{{ photo_desc }}</p>
      <p id="{{ photo_id }}-tools" class="card-text">
        {%- for tag in photo_tags -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>
        {%- endfor -%}
      </p>
      <p id="{{ photo_id }}-date" class="card-text">{{ photo_date }}</p>
    </div>
  </a>
</div>

